.home-title {
  position: relative;
  font-size: 10vw;
  color: rgb(255, 0, 0);
  margin-top: 1vw;
  margin-left: 4vw;
  width: 57%;
  visibility: hidden;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 6%;
}

.cards-container a {
  color: #ffffff;
  border: 0.3vw solid #ffffff;
  border-radius: 4%; 
  width: 25%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.cards-container h2{
  font-size: 5vw;
  font-weight: lighter;
}

.cards-container a:hover {
  transform: scale(1.1);
  cursor: pointer;
}
