.main-nav {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}

.main-nav ul {
  width: 100%;
  margin: 0;
  height: 5vw;
  background: rgb(206, 30, 30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.main-nav a {
  color: white;
  font-size: 2.3vw;
}

.main-nav ul li {
  transition: 0.2s;
}

.main-nav ul li a.active {
  color: black;
  text-shadow: 0.12vw 0.12vw 0.8vw white;
}

.main-nav ul li:hover {
  transform: scale(1.25);
}

.main-nav ul li:hover a {
  color: black;
  text-shadow: 0.12vw 0.12vw 0.8vw white;
}
