.card {
  color: #ffffff;
  border: 0.3vw solid #ffffff;
  border-radius: 4%;
  font-size: 4vw;
  width: 25%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
