body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

/* Font : Rough-owl*/
@font-face {
  font-family: 'rough-owl';
  src: url('../public/assets/fonts/rough_owl/RoughOwl-Regular.ttf');
}

.owl {
  font-family: 'rough-owl';
}

/* Font : Space-age*/
@font-face {
  font-family: 'space-age';
  src: url('../public/assets/fonts/space_age/spaceAge.ttf');
}

.space {
  font-family: 'space-age';
  font-weight: lighter;
}

/* Font : Fredericka the Great*/
.fred {
  font-family: 'Fredericka the Great';
}
